
$red: red;
.table{
  display: flex;
  flex-direction: column;
  color: $red;
  font-size: 24px;
  
}
body {
  background-image: 
    linear-gradient(0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.2)), color-stop(0.25, transparent)), 
    linear-gradient(0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.2)), color-stop(0.25, transparent)), 
    linear-gradient(0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.2))), 
    linear-gradient(0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.2)));
}