.arrow-group{
  position: relative;
  display: inline-block;
  top: 2px;
  .arrow{
    display: block;
    margin-top: .3em;
    margin-left: .3em;
    opacity: .5;
    cursor: pointer;
    height:0;
    width:0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    &.active{
      opacity: 1;
      color: #c7cce6;
    }
    &-up{
      border-bottom: 4px solid #717a9a;
    }
    &-down{
      border-top: 4px solid #717a9a;
    }
  }
}
.table-wrapper{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  background: #fff;
  font-size:14px;
  color: #606266;
  border: 1px solid #ebeef5;
  border-right: none;
  border-bottom: none;
  &.no-border{
    border: none;
  }
}
.qb-table-header-wrapper{
  table {
    table-layout: fixed;
    border-collapse: separate;
    th {
      padding: 12px 0;
      min-width: 0;
      box-sizing: border-box;
      text-overflow: ellipsis;
      vertical-align: middle;
      position: relative;
      text-align: left;
      border-bottom:1px solid #ebeef5;
      border-right: 1px solid #ebeef5;
      &.no-border{
        border-right: none;
      }
      .sortable{
        cursor: pointer;
        user-select: none;
      }
      .cell {
        padding:0 10px;
      }
    }
  }
}
.qb-table-body-wrapper {
  table {
    table-layout: fixed;
    border-collapse: separate;
    td{
      padding: 12px 0;
      min-width: 0;
      box-sizing: border-box;
      text-overflow: ellipsis;
      vertical-align: middle;
      position: relative;
      text-align: left;
      border-bottom:1px solid #ebeef5;
      border-right: 1px solid #ebeef5;
      &.no-border{
        border-right: none;
      }
      .cell {
        padding:0 10px;
      }
    }
  }
  &.hover-highlight {
    tr:hover {
      background-color: #f5f7fa;
      transition: background-color 0.3s ease-out;
    }
  }
}